<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body ng-controller="AppCtrl">
        <button class="btn btn-primary" oc-modal-open="'partials/modal.html'">Test open</button>

        <script type="text/ng-template" id="partials/modal.html">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closeModal()">Close</button>
                <button type="button" class="btn btn-success">Save changes</button>
            </div>
        </script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
        <script src="ocModal.js"></script>
        <script src="app.js"></script>
    </body>
</html>