.modal .modal-dialog .modal-content.fade-in {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0; }
  .modal .modal-dialog .modal-content.fade-in.opened {
    opacity: 1; }
.modal .modal-dialog .modal-content.slide-down {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  -moz-transition: opacity 0.5s, -moz-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0; }
  .modal .modal-dialog .modal-content.slide-down.slide-down.opened {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; }
.modal .modal-dialog .modal-content.scale {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0; }
  .modal .modal-dialog .modal-content.scale.opened {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
.modal .modal-dialog .modal-content.fall {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(600px) rotateX(20deg);
  -moz-transform: translateZ(600px) rotateX(20deg);
  -ms-transform: translateZ(600px) rotateX(20deg);
  -o-transform: translateZ(600px) rotateX(20deg);
  transform: translateZ(600px) rotateX(20deg);
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  opacity: 0; }
  .modal .modal-dialog .modal-content.fall.opened {
    -webkit-transform: translateZ(0) rotateX(0deg);
    -moz-transform: translateZ(0) rotateX(0deg);
    -ms-transform: translateZ(0) rotateX(0deg);
    -o-transform: translateZ(0) rotateX(0deg);
    transform: translateZ(0) rotateX(0deg);
    opacity: 1; }
.modal .modal-dialog .modal-content.flip-horizontal {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
  -moz-transform: rotateY(-70deg);
  -ms-transform: rotateY(-70deg);
  -o-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  opacity: 0; }
  .modal .modal-dialog .modal-content.flip-horizontal.opened {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; }
.modal .modal-dialog .modal-content.flip-vertical {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  -moz-transform: rotateX(-70deg);
  -ms-transform: rotateX(-70deg);
  -o-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .modal .modal-dialog .modal-content.flip-vertical.opened {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; }
.modal .modal-dialog .modal-content.super-scaled {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0; }
  .modal .modal-dialog .modal-content.super-scaled.opened {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
.modal .modal-dialog .modal-content.slit {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0; }
  .modal .modal-dialog .modal-content.slit.opened {
    opacity: 1;
    -webkit-transform: translateZ(-3000px) rotateY(90deg);
    -moz-transform: translateZ(-3000px) rotateY(90deg);
    -ms-transform: translateZ(-3000px) rotateY(90deg);
    -o-transform: translateZ(-3000px) rotateY(90deg);
    transform: translateZ(-3000px) rotateY(90deg);
    -webkit-animation: slit 0.7s forwards ease-out;
    -moz-animation: slit 0.7s forwards ease-out;
    animation: slit 0.7s forwards ease-out; }

@-webkit-keyframes slit {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(89deg);
    -webkit-animation-timing-function: ease-out; }

  100% {
    -webkit-transform: translateZ(0) rotateY(0deg); } }

@-moz-keyframes slit {
  50% {
    -moz-transform: translateZ(-250px) rotateY(89deg);
    opacity: 0.5;
    -moz-animation-timing-function: ease-out; }

  100% {
    -moz-transform: translateZ(0) rotateY(0deg); } }

@keyframes slit {
  50% {
    transform: translateZ(-250px) rotateY(89deg);
    animation-timing-function: ease-in; }

  100% {
    transform: translateZ(0) rotateY(0deg); } }
