$modal-backdrop-bg: #CCCCCC !default; // Color of overlay
$modal-backdrop-opacity: 0.8 !default; // opacity of overlay
$modal-border-radius: 2px;
$modal-header-border-color: transparent !default;
$close-button-color: #000;
$zindex-modal-background: 1040 !default;
$zindex-modal: 1050 !default;
$modal-inner-padding: 20px !default;
$modal-title-padding: 15px !default;
$modal-content-bg: #fff !default;
$modal-content-border-color: rgba(0, 0, 0, .2) !default;
$modal-content-fallback-border-color: #999 !default;
$modal-backdrop-bg: #000 !default;
$modal-header-border-color: #e5e5e5 !default;
$modal-footer-border-color: $modal-header-border-color !default;